# Python
backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc
backend/.env

# Models
backend/trained_models/

# Node
frontend/node_modules/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db